## Module:      Mongodb
## Loaded by:   Arbiter, WebUI
# In Arbiter: Read objects in a mongodb database (like hosts or services).
# In WebUI: Save/read user preferences.
define module {
    module_name     mongodb
    module_type     mongodb
    uri             mongodb://localhost
    database        shinken
    #username        username     ;optional
    #password        password     ;optional

    #replica_set                  ;Advanced option if you are running a cluster environnement
    
    # Collection containing hosts availability (see mongo-logs module)
    hav_collection   availability
    
    # Max records when getting hosts availability
    max_records      200
}
